.csl-bib-body{
    text-align: center;
}
.title{
    text-align: center;
}
p{
    margin-left: 7px;
}
.silcon{
    margin-left: 7px;
    border-radius: 5%;
    border: 5px solid #6C6F7F;
}
body{
    background-color: #313E50;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.other{
    border-radius: 0%; 
    border: 5px solid #6C6F7F;
}
button{
    background-color: #5C6672;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 0px;
    font-size: 16px;
    transition-duration: 0.4s;
    padding: 15px 32px;
}
button:hover {
    background-color: #455561; /* Green */
    color: white;
}
.button{
    border: none;
    
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
   
}
.Everything{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    
}