@font-face {
    font-family: old_fint;
    src: url(Helldorado-eVrp.ttf);
}

body{
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    font-family: old_fint;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 100px;
    font-family: old_fint;

}
h2 {
    font-size: 50px; 
}
li {
    font-size: 30px;  
    font-family:old_fint;
    text-align: left;
}
p{
    font-size: 30px;  
    text-align: left;
}
#sitewrapper{
    margin: auto;
    max-width: 800px;
    width: auto;
    word-wrap: break-word;
    zoom: 140%;
}
